<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8","width=device-width, initial-scale=1">
  <title>Hospitalization Prediction with Protected Privacy</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style9.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
<script src='static/Chart.min.js'></script>
</head>

<body style="background: #000;">
 <div class="login">


     <!-- Main Input For Receiving Query to our ML -->
     <h1>Hospitalization Prediction with Protected Privacy</h1>
     <p> Click on the "Choose File" button to upload hospitalization data: </p>
    <form action="{{ url_for('predict')}}" method="post" enctype="multipart/form-data">

    	<input type="file" name="file" placeholder="Protected Hospitalization Data" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Prediction for the next 7 days</button>
    </form>

   <br>

    <canvas id="myChart" width="600" height="300"></canvas>
     <div class = "page">
 <!-- <h1>Summary</h1> -->
  {% for table in tables %}
    <h2>{{titles[loop.index]}}</h2>
    {{ table|safe }}
  {% endfor %}
     </div>
    <script>
        var getData = $.get('/get_data');
        getData.done(function(data) {
            var new_array = new Array(data.values.length + 7);
           for (var i = 0; i < new_array.length; i++) {
              new_array[i] = null;
            }

          for (var i = data.values.length; i < new_array.length; i++) {
            new_array[i] = data.predicts[i - data.values.length];
           }
            var chartData = {
                labels : data.labels,
                datasets : [{
                        label: data.legends,
                        fill: false,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 5,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data: data.values
                }, {
                        label: 'prediction',
                        fill:false,
                        data:new_array,
                        backgroundColor:"rgba(192,75,75,0.4)",
                        borderColor: "rgba(192,75,75,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        pointBorderColor: "rgba(192,75,75,1)"
        }]
         }
   
      // get chart canvas
      var ctx = document.getElementById("myChart").getContext("2d");

      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {  
           legend: {
            labels: {
                fontColor: "white",
                fontSize: 14
            }
        },   
           scales: {
                        xAxes: [{
                            gridLines: {
        			zeroLineColor:'#fff'
    				},
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Date',
                                fontColor:'#fff',
                                fontSize:15
                            },
                            ticks: {
                               fontColor: "white",
                               fontSize: 15
                              }
                        }],
                        yAxes: [{
                            gridLines: {
        			zeroLineColor: '#fff'
    				},
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Count',
                                fontColor: '#fff',
                                fontSize:15
                            },
                            ticks: {
                                  fontColor: "white",
                                  fontSize: 14
                            }
                        }]
                 },
         }
      });
        });      
         
        
    </script>


   <br>
   <br>
     <form action="{{ url_for('download')}}" method="post" enctype="multipart/form-data" >
        <button type="download" class="btn btn-primary btn-block btn-small">Download Results</button>
    </form>

    <br>
     <p> Download file format: csv file of predictions of the following 7 days.

    <br>
    <br>
 </div>


</body>
</html>
